<div  class="row mb-3" >
    <div class="col">
        <div>
            <h5 style="text-align: center;">BRIGADE TERRITORIAL DE <br> BAMAKO COURA</h5>
            <img id="logo" [src]="chemin" />
        </div>
    </div>
    <div class="col">
        <p style="text-align: center;">REPUBLIQUE DU MALI <br> MINISTERE CHAGER DES TRANSPORTS <br>
            AGENCE NATIONAL DE LA SECURITE ROUTIERE <br><strong style="text-align: center;"><h5>BULLETIN D'ANALYSE DES ACCIDENTS<br> CONSTATES</h5><h4>BAAC</h4></strong>
        </p>
        <div>
            <h6 style="text-align: center;"></h6><br>

        </div>
    </div>
    <div class="col">
        <img id="mali" [src]="chemin1" />
    </div>
</div>