
<router-outlet></router-outlet>
<!-- <app-accueil></app-accueil> -->
<!-- <app-accueil></app-accueil> -->
<!-- <app-enregistrer-vehicule></app-enregistrer-vehicule> -->
<!-- <app-listes-vehicules></app-listes-vehicules> -->
<!-- <app-listes-personnes></app-listes-personnes> -->
 <!-- <app-enregistrer-personne></app-enregistrer-personne> -->
<!-- <app-modif-personne></app-modif-personne>  -->
<!-- <app-enregistrer-brigade></app-enregistrer-brigade> -->
 <!-- <app-enregistrer-accident></app-enregistrer-accident> -->
<!-- <app-listes-brigade></app-listes-brigade>
 <app-listes-lieux></app-listes-lieux>
  <app-listes-accident></app-listes-accident> 
 <app-enregistrer-lieux></app-enregistrer-lieux> 
 <app-enregistrer-vehicule></app-enregistrer-vehicule> -->
