table.custom-table {
    width: 200%; /* Exemple : taille du tableau plus grande que la largeur de l'écran */
    overflow-x: auto; /* Activer le défilement horizontal si nécessaire */
    white-space: nowrap; /* Empêcher le saut de ligne dans les cellules */
    border-collapse: collapse;
    border-spacing: 50px;
  }
table.custom-table th {
    text-align: center; /* centrer le texte des entêtes de colonne */
    border: 1px solid;
  }
table.custom-table td{
    text-align: center;
    border: 1px solid;
}
.custom-header{
  background-color: rgb(136, 202, 232);
  color: black;
}
.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Taille de l'icône */
  color: #007bff;/* Couleur de l'icône */
}

.btn-icon:hover {
  color: #ee1b0f; /* Couleur de l'icône au survol */
}