<div class="container">
    <h2 style="text-align: center;" >FORMULAIRE D'AJOUT UTILISATEUR</h2>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <form [formGroup]="register" (ngSubmit)="register">
      <div>
        <label  class="form-label">Nom:</label>
        <input class="form-control" formControlName="nom" name="nom" required />
        <div *ngIf="register.get('nom')?.invalid && register.get('nom')?.touched">
          Nom est requis
        </div>
      </div>
      <div>
        <label  class="form-label">Prénom:</label>
        <input class="form-control" formControlName="prenom" name="prenom" required />
        <div *ngIf="register.get('prenom')?.invalid && register.get('prenom')?.touched">
          Prénom est requis
        </div>
      </div>
      <div>
        <label  class="form-label">Password:</label>
        <input class="form-control" type="password" formControlName="password" name="password" required />
        <div *ngIf="register.get('password')?.invalid && register.get('password')?.touched">
          Mot de passe est requis
        </div>
      </div>
      <button type="submit" [disabled]="register.invalid">Valider</button>
    </form>
    <div *ngIf="message">
      {{ message }}
    </div>
  </div>
